<!--
//===============================================================================
// Microsoft FastTrack for Azure
// Azure Functions Managed Identity Authentication Samples
//===============================================================================
// Copyright © Microsoft Corporation.  All rights reserved.
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
// FITNESS FOR A PARTICULAR PURPOSE.
//===============================================================================
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Call Function", "CallFunction", "Home", new { }, new { @class = "btn btn-primary" })
    </div>
</div>